@charset "UTF-8";

/*Global Styling*/
body {
  margin: 0 auto;
  font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;
  font-style: bold;
  text-align: center;
  color: #57413A;
  background-color: #C3C6C7;
  text-align: center;
}

footer {
  height: 12vh;
  background-color: #C3C6C7;
}

main {
  width: 100%;
}

.logo {
  display: inline-block;
  font-size: 2em;
  margin: 0 auto;
  color: black;
}

/*Game Start, Player Change & End Displays (Overlays) */
.overlay {
  position: fixed;
  top: 0;
  left: 2;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.35); }

.screen {
  margin: 15% auto;
  padding-top: 5%;
  width: 60%;
  min-height: 50vh;
  background-color: #C3C6C7;
}

.message {
  width: 80%;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border: 5px solid black;
}

.message input, .message div {
  display: block;
  margin: 10px auto;
  text-align: center; }

#endDp, #changeDp {
  z-index: 0;
}

/*Main Div Styling*/

.main-div {
  background-image: url("image/wood-bg.gif");
}

#lower {
  min-height: 73vh;
}

/*Orders & Parameters*/

#orders, #parameters {
  margin: 5px 0;
  border-style: inset;
  background-color: #C3C6C7;
}

#orders {
  max-height: 18vh;
}

#current-order, #current-status {
  display: block;
  margin: 0px auto;
}

#parameters {
  height: 8vh;
}

.heading {
  text-align: left;
  font-size: 1.5em;
}

.order {
  float: left;
  width: 20%;
  height: 80px;
}

.order > img {
  width: 75%;
  height: 70px;
}

.parameter {
  float: left;
  width: 33%;
  font-size: 1em;
  text-align: center;
}

.status {
  background-color: white;
  font-size: 24px;
}

#score, #timer, input {
  text-align: right;
}

/*Main Game Display Styling*/
#grillAction {
/*  width: 65%;*/
  height: 600px;
}

.food {
  margin: 0 auto;
  float: left;
  width: 25%;
  min-height: 20px;
  cursor: pointer;
  background-image: url("image/ingredients/plate-bg.png");
  background-size: cover;
}

.food > img {
  width: 100%;
  height: 130px;
}

#patty > img {
  padding: 10px 0;
  padding-left: 10px; }

#sausage > img {
  padding: 25px 18px;
}

#steak > img, #shrimp > img {
  padding: 10px 0;
  padding-left: 15px; }

#grill > img {
  display: inline-block;
  z-index: 5;
}

#grill {
  width: 100%;
  height: 600px;
  border-style: inset;
  background-image: url("image/grill-bg.png");
  background-size: cover;
  margin: 10px 0;
}

.completion {
  display: inline-block;
}

#plated {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  border-radius: 10px;
  background-image: url("image/plate-metal.png");
  background-size: cover;
}

#not-plated {
  padding: 40px 0;
}

#salad > img, #bread > img {
  display: block;
  margin: 0 auto;
  width: 65%;
}

.completion > div {
  height: 165px;
}
